<div class="container mt-4">
  <%= simple_form_for @user, url: profile_path(@user), method: :patch do |f| %>
    <%= f.input :photo, as: :file, label: "Nova Foto" %>
    <%= f.input :nick_name, label: "Novo Apelido:", placeholder: @user.nick_name %>
    <%= f.input :email, label: "Novo Email:", placeholder: @user.email %>
    <%= f.button :submit, class: "btn btn-flat m-2" %>
  <% end %>
</div>
