<div class="container mt-3">
  <h1>Meus amigos</h1>
  <button type="button" class="btn-ghost" data-bs-toggle="modal" data-bs-target="#requestModal">Novo Amigo</button>
  <hr>
</div>

<div class="container" data-controller="chat">
  <h3>Solicitações pendentes</h5>
  <% @pending.each do |pf| %>
    <ul class="list-group">
    <% if pf.accepted == false %>
      <li class="list-group-item margin-b"><h5><%= pf.receiver.nick_name %></h5> <p>(<%= pf.receiver.email %>)</p>
        <%= link_to friendship_path(pf),
                    data: {turbo_method: :delete, turbo_confirm: "Tem certeza?"},
                    class: "bt-icon-danger",
                    alt: "Excluir Amigo" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
  <hr>
  <h3>Minhas amizades</h3>
    <ul class="list-group" data-controller="chat">
      <% @friends.each do |f| %>
        <% if current_user == f.asker %>
          <li class="list-group-item margin-b">
            <h5><%= f.receiver.nick_name %></h5>
            <p><%= f.receiver.first_name %> <%= f.receiver.last_name %></p>
            <%= link_to friendship_path(f),
                  data: {turbo_method: :delete, turbo_confirm: "Tem certeza?"},
                  class: "bt-icon-danger",
                  alt: "Excluir Amigo" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
            <%= link_to friendship_path(f),
            class: "bt-icon-flat",
            alt: "Iniciar conversa" do %>
              <i class="fa-solid fa-comments"></i>
            <% end %>
          </li>
        <% else %>
          <li class="list-group-item">
            <h5><%= f.asker.nick_name %></h5>
            <p><%= f.asker.first_name %> <%= f.receiver.last_name %></p>
            <%= link_to friendship_path(f),
                  data: {turbo_method: :delete, turbo_confirm: "Tem certeza?"},
                  class: "bt-icon-danger",
                  alt: "Excluir Amigo" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
            <%= link_to friendship_path(f),
              class: "bt-icon-flat",
              alt: "Iniciar conversa" do %>
                <i class="fa-solid fa-comments"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>

<%# MODAL ADD FRIEND %>
<div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="requestModalLabel">Envie um convite para...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "modal", users: @users %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-ghost-fill ml-3" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<%# CHAT MODAL V-centered + scroll%>
<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <%# nick da pessoa %>
          <h5 id="nickHeader" data-chat-target="messageBox">AQUI</h5>
        </div>
        <div class="modal-body">
          <%# content / mensagens %>
          <%# input %> <%# send %>
        </div>
          <div class="modal-footer">
          </div>
      </div>
  </div>
</div>

<div class="container">
    <%= link_to "Voltar", :back, class: "btn-ghost" %>
</div>
