<div class="container mt-4">
  <%= simple_form_for(@game) do |f| %>
    <%= @game.name %>
    <p></p>
    <%= f.label :new_name %>
    <%= f.text_field :name %>
    <p></p>
    <%= @game.description %>
    <p></p>
    <%= f.label :new_description %>
    <%= f.input :description %>
    <div class="container mt-3">
      <%= f.button :submit, class: "btn btn-ghost" %>
    </div>
  <% end %>
</div>
