<%= link_to "Voltar", game_path(@game),  class: "btn btn-ghost mt-3 margin-l"  %>
<div class="container mt-4">
  <%= simple_form_for(@game) do |f| %>
    <%= f.input :name, label: "Novo Nome:", placeholder: @game.name %>
    <%= f.input :description, label: "Nova Descrição:", placeholder: @game.description %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn-flat m-2" %>
  <% end %>
</div>
