<div class="container mt-3">
  <h1>Todos os grupos de jogos</h1>
  <hr>

  <div class="container" style="width: 60rem;">
    <div class="card-grid">
      <% @games.each do |g| %>
        <div class="">
          <div class="card mb-3">
            <div class="card-header">
              <%= link_to g.name, game_path(g) %>
            </div>
            <div class="card-body">
              <p><%= g.description %></p>
            </div>
            <div class="card-footer" style="font-weight: 700">
              <span class="text-item">Classificação: <%= g.pg %></span>
              <span class="text-item">Narrador: <%= g.user.nick_name %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
    <%= link_to "Voltar", :back, class: "btn btn-flat" %>
</div>
