<div class="container mt-3">
  <h1>Todos os grupos de jogos</h1>
  <%= link_to "Voltar", :back, class: "btn-ghost" %>
  <hr>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <% @games.each do |g| %>
        <% if current_user.age >= g.pg %>
          <div class="col">
            <div class="card-trip mb-3">
              <% if g.photo.attached? %>
                <%= cl_image_tag g.photo.key, crop: :fill, class: "img-fit" %>
              <% else %>
                <%= image_tag "card-placeholder.jpeg" %>
              <% end %>
              <div class="game-header">
                <h5><%= link_to g.name, game_path(g) %></h5>
              </div>
              <div class="card-trip-infos">
                <div>
                  <p><%= g.description %></p>
                </div>
                <div class="card-footer">
                  <p class="text-item "> <strong class="wh"> Classificação: </strong> <%= g.pg %> anos</p>
                  <p class="text-item"> <strong class="th"> Narrador: </strong> <%= g.user.nick_name %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
    <%= link_to "Voltar", :back, class: "btn-ghost" %>
</div>
