<div
    id="friendship_message-<%= friendship_message.id %>"

    class="message <%= friendship_message.user === user ? 'sent' : 'received' %>"
    data-controller="friendship-message"
    data-chat-target="friendship-message-content"
    data-friendship-message-user-id-value="<%= friendship_message.user.id %>">

  <small class="message-info">
    <strong><%= friendship_message.user.nick_name %></strong>
    <i><%= friendship_message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p class="message-content"><%= friendship_message.content %></p>

</div>
